{
  "extends": ["@superlight-labs/eslint-config", "@react-native", "plugin:react-hooks/recommended"],
  "plugins": ["neverthrow"],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "curly": "off"
  }
}
