{
  "extends": ["@superlight-labs/eslint-config", "@react-native", "plugin:react-hooks/recommended"],
  "plugins": ["neverthrow"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "curly": "off"
  }
}
